<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Perfil - Portal de Empregos</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  

  <!-- Script para configurar as cidades e estados na lista de cidade e estado -->
  <script>
      
      var cidades_e_estados = {{ cidades_e_estados | tojson }};
      var usuario = {{ usuario | tojson }};

      function configurar(){

        //configurar carga horaria
        document.getElementById("genero").value = usuario.genero;
        document.getElementById("estado").value = usuario.estado;
        atualizarMunicipios();
        document.getElementById("cidade").value = usuario.cidade;

      }

      function escolherImagem(){
        document.getElementById('statusImagem').value = "";
      }

  </script>

  <script src="{{ url_for('static', filename='js/base.js') }}"></script>
  <script src="{{ url_for('static', filename='js/cadastrarUsuario.js') }}"></script>

  {% if erro %}
  <script>
    alert("{{mensagemErro}}");
  </script>
  {% endif %}

</head>
<body onload="__init__();configurarEstados(),configurar()">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Portal de Empregos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/vagas">Vagas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/criar">Criar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sobre">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contatos">Contatos</a>
        </li>
        {% if 'usuario' in session %}
        <li class="nav-item">
          <a class="nav-link" href="/minhasVagas">Minhas vagas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/perfil/{{ session['usuario'] }}">Perfil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/processo/sair">Sair</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/entrar">Entrar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cadastrarse">Cadastrar-se</a>
        </li>
        {% endif %}

        {% if session.usuario == "admin" %}
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
        {% endif %}
        
    </ul>
      </ul>
    </div>
  </div>
</nav>

<!-- Cadastro de Usuário -->
<section class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Dados Pessoais de {{session.usuario}}</b>
        </div>
        <div class="card-body">
          <form action="/processo/editarPerfil" id="formulario" method="POST" enctype="multipart/form-data">

            <img src="{{ url_for('static', filename='data/' + usuario.foto) }}" width="30%" height="30%" id="imagemPerfil">
            
            <div class="form-group">
              <label for="nome">Foto de Perfil:</label>
              <input type="hidden" name="statusImagem" value="semImagem" id="statusImagem">
              <input type="file" name="imagem" id="imagem" onchange="escolherImagem()">            
            </div>

            <div class="form-group">
              <label for="nome">Nome completo:</label>
              <input type="text" class="form-control" id="nome" value={{usuario.nome}} name="nome" required>
            </div>
            <div class="form-group">
              <label for="genero">Genero:</label>
              <select class="form-control" id="genero" name="genero" required>
                <option selected disabled>Selecione seu genero</option>
                <option id="generoMasculino">Masculino</option>
                <option id="generoFeminino">Feminino</option>
              </select>
            </div>
            <div class="form-group">
              <label for="estado">Estado:</label>
              <select class="form-control" id="estado" name="estado" value={{usuario.estado}} onchange="atualizarMunicipios(null)" required>
                <option selected disabled>Selecione seu estado</option>
              </select>
            </div>
            <div class="form-group">
              <label for="cidade">Cidade:</label>
              <select class="form-control" id="cidade" name="cidade" required>
              </select>
            </div>
            <div class="form-group">
              <label for="telefone">Telefone:</label>
              <input type="text" class="form-control" id="telefone" name="telefone" value={{usuario.telefone}} required>
            </div>
            <div class="form-group">
              <label for="data">Data de nascimento:</label>
              <input type="date" id="data" name="dataNascimento" value={{usuario.dataNascimento}} required>  
            </div>

            <button type="submit" class="btn btn-primary">Cadastrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="text-muted py-4 bg-dark mt-5">
  <div class="container text-center">
    <p class="mb-0">&copy; 2024 Portal de Empregos</p>
  </div>
</footer>

</body>
</html>
