<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de Empregos - Minhas Vagas</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <style></style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>

</head>

<body onload="__init__()">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Portal de Empregos</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="vagas">Vagas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="criar">Criar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sobre">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contatos">Contatos</a>
                    </li>

                    {% if 'usuario' in session %}
                    <li class="nav-item active">
                        <a class="nav-link" href="/minhasVagas">Minhas vagas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/perfil/{{ session['usuario']}}">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/processo/sair">Sair</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/entrar">Entrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cadastrarse">Cadastrar-se</a>
                    </li>
                    {% endif %}

                    {% if session.usuario == "admin" %}
                    <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                    </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        Vagas de {{ session["usuario"]}}
                    </div>
                    <div class="card-body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="aplicações-tab" data-toggle="tab" href="#aplicações"
                                    role="tab" aria-controls="aplicações" aria-selected="false">Aplicações</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="criações-tab" data-toggle="tab" href="#criações" role="tab"
                                    aria-controls="criações" aria-selected="false">Criações</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">

                            <div class="tab-pane fade show active" id="aplicações" role="tabpanel"
                                aria-labelledby=" aplicações-tab">
                                <h5 class="card-title mt-3">Aplicações</h5>
                                <p class="card-text">Aqui ficam todas as vagas que você se aplicou. Se você tiver muitas
                                    vagas aplicadas, é aconselhado usar o filtro para facilitar a procura.</p>

                                {% if aplicacoes == [] %}
                                <p style="margin-top: 5%" align="center">Você ainda não tem nenhuma aplicação. Se
                                    aplique para alguma vaga.</p>
                                {% endif %}

                                <section class="container">
                                    {% for aplicacao in aplicacoes %}
                                    <div class="col-md-12">
                                        <div class="card mb-4 shadow-sm">
                                            <div class="card-body">
                                                <h5 class="card-title">{{aplicacao.titulo}}</h5>
                                                <p class="card-text"><b>Salario: </b>{{aplicacao.salario}}</p>
                                                <p class="card-text"><b>Localizacao: </b>{{aplicacao.cidade}} - {{aplicacao.estado}}</p>
                                                <p class="card-text"><b>Seu status: </b>{{aplicacao.status}}</p>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-primary" onclick="window.location.href = '/vaga/{{aplicacao.vaga}}';">Ver</button>
                                                        {% if aplicacao.status == "analizando" %}
                                                        <form action="/processo/cancelarAplicacao" method="POST">
                                                            <input type="hidden" value={{aplicacao.vaga}} name="idVaga">
                                                            <input type="hidden" value={{session.usuario}} name="usuario">
                                                            <button type="submit" class="btn btn-danger">Desistir</button>
                                                        </form>
                                                        {% endif %}
                                                    </div>
                                                    <small class="text-muted"></small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </section>
                            </div>

                            <div class="tab-pane fade" id="criações" role="tabpanel" aria-labelledby=" criações-tab">
                                <h5 class="card-title mt-3">Criações</h5>
                                <p class="card-text">Aqui ficam todas as vagas que você criou. Se você tiver muitas
                                    vagas criadas, é aconselhado usar o filtro para facilitar a procura.</p>

                                {% if criacoes == [] %}
                                <p style="margin-top: 5%" align="center">Você ainda não tem nenhuma criação. Crie alguma
                                    vaga.</p>
                                {% endif %}
                                <section class="container">
                                    {% for vagaDB in criacoes %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card mb-4 shadow-sm">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ vagaDB.titulo }}</h5>
                                                    <p class="card-text"><b>Salario:</b> R$ {{ vagaDB.salario }}</p>
                                                    <p class="card-text"><b>Localização:</b> {{ vagaDB.cidade }} - {{ vagaDB.estado }}
                                                    </p>
                                                    <p class="card-text"><b>Candidaturas:</b> {{ vagaDB.qtdCandidatos }}
                                                    </p>
                                                    <p class="card-text"><b>Aprovados:</b> {{ vagaDB.qtdAprovados }}</p>
                                                    <p class="card-text"><b>Reprovados:</b> {{ vagaDB.qtdReprovados }}
                                                    </p>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="btn-group">
                                                            <button type="button"
                                                                class="btn btn-primary"
                                                                onclick="window.location.href = '/vaga/{{vagaDB.id}}';">Ver</button>
                                                            <button type="button"
                                                                class="btn btn-primary"
                                                                onclick="window.location.href = '/editar/{{vagaDB.id}}';">Editar</button>
                                                            {% if vagaDB.status == "aberta" %}
                                                            <form action="processo/encerrarVaga" method="POST">
                                                                <input type="hidden" value={{vagaDB.id}} name="idVaga">
                                                                <button type="submit"
                                                                    class="btn btn-danger">Encerrar</button>
                                                            </form>
                                                            {% else %}
                                                            <form action="processo/reabrirVaga" method="POST">
                                                                <input type="hidden" value={{vagaDB.id}} name="idVaga">
                                                                <button type="submit"
                                                                    class="btn btn-success">Reabrir</button>
                                                            </form>
                                                            {% endif %}

                                                        </div>
                                                        <small class="text-muted">{{ vagaDB.status }}</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </section>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="text-muted py-4 bg-dark">
        <div class="container text-center">
            <p class="mb-0">&copy; 2024 Portal de Empregos</p>
        </div>
    </footer>

</body>

</html>